<!DOCTYPE html>
<html>

<head>
<title>Joining</title>
<style>
  body {
        background-color: skyblue;
        text-align: center;
       }
  h1   {color: white;
        text-align: center;
        font-size: 100px;
        margin-bottom: 25px;
       }
  h3   {
        color: white;
       }
  li   {
        color: white;
        text-align: center;
        list-style-type: none;
        font-size: 20px;
       }
  form {
        color: white;
       }
</style>
</head>

<body>

<h1>Create an account</h1>
<h3>Please, choose the username and password you would like to use.</h3>
<form action="/user/new_user" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
{{this.message}}
</body>
</html>
