<!DOCTYPE html>
<html>

<head>
<title>JMC</title>
<link rel="stylesheet" type="text/css" href="/view_style.css">
</head>

<body>
  <script>
    var open=false;
    function openNav() {
      if(!open){
        document.getElementById("navbar").style.width = "250px";
        open=true;
      }else{
        open=false;
        closeNav();
      }
    }

    function closeNav() {
      open=false;
      document.getElementById("navbar").style.width = "0";
    }
  </script>

  <div id="navbar" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Front page</a>
    {{#unless this.logged_in}}
      <a href="/user">Log in</a>
    {{/unless}}
    {{#if this.registered}}
      <a href="/movies">Movies</a>
      <a href="/profile">Profile</a>
      {{#if this.admin}}
        <a href="/admin-page">Admin page</a>
      {{/if}}
    {{/if}}
    <a href="/contact">Contact</a>
    {{#if this.logged_in}}
      <a href="">Logout</a>
    {{/if}}
  </div>
  <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>
  <h1 style="width:500px;margin:auto;">
    Welcome to <br>Janis Movie Club <br>homepage!
  </h1>
  {{#unless this.logged_in}}
    <h3>
      If you already have an account, you can log in here:
      <form action="/user" method="get">
        <input type="submit" value="Log in" />
      </form>
      If you don't already have an account, you can create one here:
        <form action="/user/new_user" method="get">
          <input type="submit" value="Create user" />
        </form>
    </h3>
  {{/unless}}
</body>
</html>
