<!DOCTYPE html>
<html>
<head>
  <title>Log in</title>
  <link rel="stylesheet" type="text/css" href="/view_style.css">
</head>

     <body>
     <script>
       var open=false;
       function openNav() {
         if(!open){
           document.getElementById("navbar").style.width = "250px";
           open=true;
         }else{
           open=false;
           closeNav();
         }
       }

       function closeNav() {
         open=false;
         document.getElementById("navbar").style.width = "0";
       }
     </script>

   <div id="navbar" class="sidenav">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     <a href="/">Front page</a>
     <a href="/user">Log in</a>
   </div>
   <span style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776; Menu</span>
<h1>Log in</h1>
<h3>Please enter your username and password.</h3>
<form action="/user" method="post">
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
{{this.message}}
<h3>
  If you don't already have an account, you can create one here:
  <form action="/user/new_user" method="get">
    <input type="submit" value="Create user" />
  </form>
</h3>
</body>
</html>
