
h1   {color: #183BF0;
      text-align: center;
      font-size: 75px;
      margin-bottom: 25px;
     }
h3   {
      color: #183BF0;
     }
li   {
      color: #183BF0;
      text-align: center;
      list-style-type: none;
      font-size: 20px;
     }
form {
      color: white;
     }
